.generationUList{
	padding-left: 0px;
}
.pointer {
	position: relative;
	background: #374955;
}
.pointer:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(55, 73, 85, 0);
	border-bottom-color: #374955;
	border-width: 8px;
	margin-left: -8px;
}