.pokeName {
  padding-bottom: 20px;
}
.pokeGridContainer {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 40px 0px;
  padding: 0;
  justify-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.listItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.pokeGridItemContainer {
  background-color: #2b4859;
  border-radius: 24%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 200px;
}
