@media only screen and (min-width: 270px) and (max-width: 479px) {
  .pokeList {
    position: relative;
    left: 5px;
  }
  .poke-picture {
    position: relative;
    left: 20px;
  }
  .pokeName {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    bottom: 5px;
  }
  .container {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5rem;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 32px;
    padding-left: 30px;
    width: 280px;
  }
  .listItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .pokeGrid {
    background-color: #2b4859;
    border-radius: 24%;
    width: 131px;
    padding: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    list-style-type: none;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 37px;
  }
  .listsItem {
    display: flex;
    align-items: flex-end;
  }
  .pokeGrid {
    background-color: #2b4859;
    border-radius: 24%;
    width: 150px;
    padding: 0;
    text-align: center;
  }
  .pokeList {
    position: relative;
    left: 5px;
  }
  .poke-picture {
    position: relative;
    left: 20px;
  }
  .pokeName {
    display: inline-flex;
    justify-content: center;
    font-size: 15px;
    position: relative;
    bottom: 5px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 37px;
  }
  .listsItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .pokeGrid {
    background-color: #2b4859;
    border-radius: 24%;
    width: 150px;
    padding: 0;
    text-align: center;
  }
  .pokeList {
    position: relative;
    left: 5px;
  }
  .poke-picture {
    position: relative;
    left: 20px;
  }
  .pokeName {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    bottom: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: 37px;
  }
  .listsItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .pokeGrid {
    background-color: #2b4859;
    border-radius: 24%;
    width: 171px;
    padding: 0;
    text-align: center;
  }
  .pokeList {
    position: relative;
    left: 5px;
  }
  .poke-picture {
    position: relative;
    left: 20px;
  }
  .pokeName {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
    -ms-grid-columns: (1fr) [5];
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    top: 37px;
  }
  .listsItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .pokeGrid {
    background-color: #2b4859;
    border-radius: 24%;
    width: 200px;
    padding: 0;
    text-align: center;
  }
  .pokeList {
    position: relative;
    left: 5px;
  }
  .poke-picture {
    position: relative;
    left: 20px;
  }
  .pokeName {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    bottom: 5px;
  }
}
