.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.topBoxWrapper {
  display: grid;
  grid-template-rows: repeat(5, 0fr);
  grid-gap: 20px;
}
.pokeStats {
  padding: 5px;
}
.pokeDetail {
  margin: 0 auto;
  width: 350px;
  display: grid;
  grid-gap: 20px;
}

.pokePicture {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pokemonName {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.weightContainer {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.pokeAbilities {
  position: relative;
  top: 1px;
  left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.ability {
  width: 187px;
}
.shiny {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.callsContainer {
  font-size: 13px;
  width: 138px;
  padding-bottom: 10px;
}
.pokeMoves {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 277px;
  position: relative;
  left: 33px;
}
.moves {
  width: 144px;
  padding: 6px;
}
.s-Moves {
  width: 100px;
  padding-right: 5px;
}
.movesContainer {
  position: relative;
  bottom: 15px;
}

.arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.statContainer {
  width: 255px;
  background-color: #b3b3b3;
}
.statBar {
  background-color: #ff206e;
}
.typeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.types {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.s-Type {
  position: relative;
  left: 8px;
  color: #040405;
}
.p-Types {
  width: 60px;
}
.grass {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #2da01b;
}
.poison {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #8a3ab2;
}
.fire {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #ed5f0e;
}
.water {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #3549e6;
}
.fighting {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #bd1c44;
}
.flying {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #6fb5f2;
}
.dragon {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #8111d6;
}
.normal {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #a8a878;
}
.fairy {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #f4b5e0;
}
.electric {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #ebe54d;
}
.ground {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #bfb547;
}
.fairy {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #ff309b;
}
.electric {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #ffe521;
}
.ice {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #38ffe1;
}
.dark {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #3a321c;
}
.steel {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #8f959b;
}
.bug {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #93ba6d;
}
.psychic {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #ff0ab1;
}
.rock {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #a59465;
}
.ghost {
  border-radius: 20px;
  padding-right: 19px;
  margin-right: 10px;
  background-color: #622882;
}
.moveButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
}
