.typeList {
  position: absolute;
  top: 110px;
  z-index: 1;
  background-color: #8b0000;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 7px;
  padding: 15px 7px;
  width: 200px;
  -ms-flex-item-align: end;
      align-self: end;
  margin-left: 31px;
}
.typesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 4px;
}
.typeNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dadad9;
}
.doneBtn {
  position: relative;
  left: 68px;
  top: 178px;
  top: 7px;
  border-radius: 11px;
  border: none;
}
.typeList:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  left: 88%;
  border: 10px solid transparent;
  border-bottom: 10px solid #8b0000;
  bottom: 99%;
}
