@media only screen and (min-width: 270px) and (max-width: 479px){
    .searchBar{
    	text-align: center;
        position: relative;
        top: 32px;
    }
    .submitButton{
    	border-radius: 12px;
        border: none;
        text-decoration: none;
        background-color: #8B0000;
    }
    .inputField{
    	background: transparent;
        border: 0;
        outline: 0;
        border-bottom: 2px solid #8B0000;
        color: #DADAD9;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .searchBar{
        text-align: center;
        position: relative;
        top: 32px;
        width: 281px;
        left: 29%;
    }
    .submitButton{
        border-radius: 12px;
        border: none;
        text-decoration: none;
        background-color: #8B0000;
    }
    .inputField{
        background: transparent;
        border: 0;
        outline: 0;
        border-bottom: 2px solid #8B0000;
        color: #DADAD9;
        width: 184px;
    }
}