.searchForm {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-right: 1rem;
}
.submitButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: #8b0000;
  cursor: pointer;
  color: #dadad9;
  font-size: 16px;
}
.searchBarContainer input {
  color: white;
}
@media only screen and (max-width: 700px) {
  .searchBarContainer {
    grid-template-columns: auto auto;
  }
  .searchBar {
    grid-column: 1 / -1;
  }
}
