.searchBar {
  margin: 40px auto;
  color: hsl(210, 24%, 16%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  max-width: 400px;
}
.searchForm {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-right: 1rem;
}
.submitButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: #8b0000;
  cursor: pointer;
  color: #dadad9;
  font-size: 16px;
}
