.searchBar{
	text-align: center;
    position: relative;
    top: 32px;
}
.submitButton{
	border-radius: 12px;
    border: none;
    text-decoration: none;
    background-color: #8B0000;
}
.inputField{
	background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #8B0000;
    color: #DADAD9;
}