.navBar {
  position: static;
  top: 0;
  background: #8b0000;
  width: 100%;
  margin-bottom: 30px;
}

.main-nav {
  max-height: 0;
  width: 100%;
  visibility: hidden;
  display: grid;
  padding: 0;
  margin: 0;
  justify-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  grid-gap: 20px;
}
.nav-links {
  margin-bottom: 10px;
  background: transparent;
  border: none;
  color: #dadad9;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.nav-links:hover {
  color: white;
}
.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  background: #dadad9;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.nav-links:hover::after {
  width: 100%;
}
.navbar-toggle-btn {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin-left: auto;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.genList {
  padding-left: 5px;
  padding-right: 14px;
  background: #374955;
}
.show-main-nav {
  max-height: 200px;
  visibility: visible;
}
@media only screen and (min-width: 700px) {
  .navbar-toggle-btn {
    display: none;
  }
  .main-nav {
    max-height: 60px;
    visibility: visible;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
}
