.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #000000;
  -webkit-animation: frames 2s infinite;
  animation: frames 2s infinite;
}

.loading:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid #000000;
}

.loading:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 4px solid #000000;
  border-radius: 50%;
  bottom: 18px;
  right: 20px;
  z-index: 1;
}

/* AnimationFrames */
@-webkit-keyframes frames {
  50% {
    transform: rotate(0.7);
  }
}
@keyframes frames {
  50% {
    transform: scale(0.7);
  }
}
