body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0c1e28;

}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
}
