body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0c1e28;

}
a{
	text-decoration: none;
	color: #DADAD9;;
}
a:hover{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
	color: #DADAD9;
}
p{
	color: #DADAD9;
}
span{
	color: #DADAD9;
}
h3{
	color: #DADAD9;
}